# Project
environment.properties

# OS
.DS_Store

# IDE
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Vendor
bower_components
node_modules

# Build 
*.jar
*.war
*.ear
*.class
/target/

# Others
hs_err_pid*
.mtj.tmp/
.idea
*.iml