@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic,700italic);

.navbar {
    background: black;
    color: #fff;
    text-align: center;
    position: relative;
    border-radius: 0;
}

.nav-section {
    position: absolute;
    top: 0;
    list-style: none;
    padding: 0;
}

.nav-right {
    right: 10px;
}

.nav-left {
    left: 10px;
}

.navbar li {
    list-style: none;
    float: left;
    height: 50px;
}

.navbar .item > a, .navbar .item > span {
    display: block;
    padding: 15px;
    line-height: 20px;
    cursor: pointer;
}

.navbar .item:hover {
    color: #aaa;
}

.navbar a {
    color: #fff;
}

.logo {
    margin: 5px 0;
    margin-top: 7px;
    height: 40px;
    display: inline-block;
}

.post {
    font-family: 'Ubuntu', sans-serif;
    background: #f5f5f5;
    color: #000;
    box-shadow: 0 0 5px #ddd;
    font-size: 20px;
    margin-bottom: 20px;
}

.post .content {
    padding: 20px;
}

.post .comments {
    padding: 20px;
}

.comment-info p {
    white-space: pre-wrap;
}

.post-info-section .username {
    font-weight: bold;
}

.post-info-section {
    padding-bottom: 15px;
}

.comment {
    position: relative;
}

.comment p {
    font-size: 13px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -7px;
}

.comment-info {
    vertical-align: top;
    margin-top: -10px;
    margin-left: 50px;
}

.comment .profile-pic {
    position: absolute;
    top: 10px;
    left: 0;
    vertical-align: top;
}

.comment-author-username {
    font-size: 14px;
    font-weight: bold;
}

.comment-form textarea {
    height: 40px;
    border-width: 0;
}

.comment-form.open textarea {
    height: 64px;
    border-width: 2px;
    margin-bottom: 10px;
}

.post-info-section .profile-pic, .post-author-desc {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin-right: 5px;
}

.opinion-content {
    color: #555;
    white-space: pre-wrap;
    margin: 0;
}

.opinion-content.long {
    font-size: 15px;
}

.time-ago {
    line-height: 12px;
    font-size: 12px;
    color: #888;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.user-box {
    text-align: center;
    margin-bottom: 20px;
}

.user-box .follow-row {
    color: #555;
    font-size: 14px;
}

.user-box .name {
    font-size: 20px;
    margin-bottom: 0;
}

.user-box .desc {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

textarea {
    resize: none;
}

.search-cont {
    position: relative;
}

.search-cont:hover .search, .search-cont .search:focus, .search-cont .search.visible {
    opacity: 1;
    width: 200px;
}

.search-cont .search {
    opacity: 0;
    width: 100px;
    transition: opacity 0.2s linear;
}

.search {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    height: 50px;
    width: 200px;
    background: #444;
}

.search-icon {
    position: absolute;
    top: 0;
    left: 0;
}

.search[placeholder] {
    color: #ccc;
}

.profile-pic {
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

hr {
    border-color: #ddd;
}

.trending-box {
    background: #f5f5f5;
    box-shadow: 0 0 5px #ddd;
    margin-bottom: 20px;
    padding: 10px;
}

.user-badge {
    position: relative;
    background: #f5f5f5;
    box-shadow: 0 0 5px #ddd;
    margin-bottom: 20px;
    max-height: 60px;
    padding: 10px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.user-badge .btn {
    position: absolute;
    right: 10px;
    width: 93px;
    top: 10px;
}

.user-badge .img {
    position: absolute;
    left: 10px;
    top: 10px;
}

.user-badge .name {
    position: absolute;
    left: 60px;
    right: 110px;
    top: 10px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    float: left;
}

.user-badge .desc {
    font-size: 14px;
    line-height: 18px;
    margin-top: 7px;
}

.user-badge:hover {
    max-height: 300px;
}

.modal-content {
    border-radius: 0;
}

.modal-body {
    padding: 15px 0;
}

.modal-header {
    margin-bottom: 10px;
}

a {
    cursor: pointer;
}

.area-selector {
    margin-bottom: 10px;
    margin-top: -10px;
}

.area-selector .area {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    width: 33%;
    color: #555;
}

.area .glyphicon {
    line-height: 55px;
}

.area.active {
    color: #1ABC9C;
}

.loading {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 140px;
    height: 20px;
}

.loading .dot {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #1ABC9C;
    -webkit-animation: spin .5s 0s infinite alternate both;
}

.loading .dot:nth-child(0) {
    -webkit-animation: spin 0.5s 0ms infinite alternate both;
    left: 0px;
}

.loading .dot:nth-child(1) {
    -webkit-animation: spin 0.5s 80ms infinite alternate both;
    left: 24px;
}

.loading .dot:nth-child(2) {
    -webkit-animation: spin 0.5s 160ms infinite alternate both;
    left: 48px;
}

.loading .dot:nth-child(3) {
    -webkit-animation: spin 0.5s 240ms infinite alternate both;
    left: 72px;
}

.loading .dot:nth-child(4) {
    -webkit-animation: spin 0.5s 320ms infinite alternate both;
    left: 96px;
}

.loading .dot:nth-child(5) {
    -webkit-animation: spin 0.5s 400ms infinite alternate both;
    left: 120px;
}

@-webkit-keyframes spin {
    from {
        transform: translateY(0);
        box-shadow: 0 0 0 #1ABC9C;
    }
    to {
        transform: translateY(-20px);
        box-shadow: 0 40px 0px #16A085;
    }
}

.search-term-display {
    background: #1ABC9C;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.close-bright {
    color: #fff;
    text-shadow: none;
    opacity: 0.7;
}

.close-bright:hover {
    opacity: 1;
}

.search-term-display .close {
    color: #fff;
    margin-right: 10px;
    margin-top: 2px;
    opacity: 0.7;
}

.drop-zone {
    border: dashed #f5f5f5 5px;
    padding: 10px;
    margin-bottom: 20px;
    color: #aaa;
}

.drop-zone.dragover {
    border: dashed #1ABC9C 5px;
}

.drop-zone em {
    font-size: 24px;
    margin: 0 10px;
}

.uploaded-image {
    position: relative;
}

.uploaded-image .info-bar {
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s linear;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.uploaded-image:hover .info-bar {
    opacity: 1;
}

.uploaded-image .info-bar .close {
    padding: 6px 10px;
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.uploaded-image .info-bar .filename {
    padding: 7px 10px;
    position: absolute;
    color: #ddd;
    font-size: 16px;
}

.uploaded-image img {
    margin-bottom: 20px;
}