<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">What's your hage?</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <textarea ng-model="post.content" class="form-control" placeholder="Write your hage"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
      <button type="button" class="btn btn-primary" ng-click="create()">Create</button>
    </div>
</div>