<div class="modal-content container-fluid">
    <div class="modal-header col-sm-12">
        <h4 class="modal-title">Having an opinion of the day?</h4>
    </div>
    <div class="modal-body">
        <form class="col-sm-12">
            <div class="form-group">
                <label>Write your mind clean</label>
                <textarea ng-model="post.text" msd-elastic class="form-control"></textarea>
            </div>
            <div ng-hide="post.picture" class="drop-zone" ng-file-drop="onFileSelect($files)">
                Drop image here <em>or</em>

                <div class="btn btn-default" ng-file-select="onFileSelect($files)" accept="image/*">Choose image</div>
            </div>
            <div class="uploaded-image" ng-if="post.picture">
                <div class="info-bar">
                    <span class="filename">{{ post.picture }}</span>
                    <span class="close close-bright" ng-click="removeImage()">&times;</span>
                </div>
                <img ng-src="{{ post.picture }}" style="width: 100%; margin-bottom: 20px;">
            </div>
        </form>
    </div>
    <div class="modal-footer col-sm-12">
        <div class='pull-left'>
            <input type="checkbox" opinion-switch ng-model="localPost" switch-on-text="Local" switch-off-text="World">
            {{ posMessage }}
        </div>
        <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="create()">Create</button>
    </div>
</div>