<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Login</h4>
    </div>
    <div class="modal-body">
        <h4>Experience the endless flow of hate.</h4>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
      <a href="auth" class="btn btn-primary">Sign in with twitter</a>
    </div>
</div>