<div class="post">
    <div class="content">

        <div class="hage-content" ng-bind-html="post.text | linky"></div>

        <img ng-if="post.picture" ng-src="{{ post.picture}}" style="max-width: 400px; width: 100%; margin-top: 20px;">

        <div class="hate-btn" ng-click="hate(post)" ng-class="model.isHated(post) ? 'hated' : ''">
            <span class="hate-smiley"></span>
            {{ post.hatingUsers.length}}
        </div>

    </div>
    
    <div class="comments" ng-repeat="comment in post.comments" >
       {{comment.id}}
       {{comment.text}}
       <a href="#/{{comment.author.username}}">{{comment.author.username}}</a>
    </div>

    <div class="well">
        <form role="form">
            <div class="form-group">
                <textarea ng-model="newComment" class="form-control" rows="1"></textarea>
            </div>
            <button type="submit" ng-click="comment()" class="btn btn-primary">Comment</button>
        </form>
    </div>


</div>