<article class="post">
    <div class="content">

        <section class="post-info-section">
            <a href="#/{{ post.user.username}}">
                <img class="profile-pic" ng-src="{{post.user.picture || '/assets/no-picture.png' }}" width="40">
            </a>

            <div class="post-author-desc">
                <div class="username">{{ post.user.username}}</div>
                <div class="time-ago" am-time-ago="post.date"></div>
            </div>
            <div class="pull-right" ng-if="model.user && model.user.username !== post.user.username">
                <h5 class="opineText" ng-show="opineText">{{ opineText }}</h5>
                <div ng-hide="opineText" class="btn btn-inverse btn-sm" ng-click="opineText = 'Agreed'">
                    <span style="color: #1ABC9C;" class="glyphicon glyphicon-ok"></span>
                    Agree
                </div>
                <div ng-hide="opineText" class="btn btn-inverse btn-sm" ng-click="opineText = 'Disagreed'">
                    <span style="color: #E74C3C;" class="glyphicon glyphicon-remove"></span>
                    Disagree
                </div>
                <div ng-if="false" ng-show="model.user" ng-click="opine(post)">
                    {{ post.disagreeingUsers.length}}
                </div>
            </div>
        </section>

        <p class="opinion-content" ng-class="isPostLong(post) ? 'long' : ''"
           ng-bind-html="post.text | linky | hashTags"></p>

    </div>

    <img ng-if="post.picture" ng-src="{{ post.picture}}" style="width: 100%;">

    <hr ng-hide="post.picture" style="margin: 0;">

    <section class="comments">
        <div class="comment" ng-repeat="comment in post.comments">
            <a href="#/{{comment.user.username}}">
                <img class="profile-pic" ng-src="{{comment.user.picture || '/assets/no-picture.png' }}">
            </a>

            <div class="comment-info">
                <span class="comment-author-username">{{ comment.user.username }}</span>
                <span class="time-ago" am-time-ago="comment.date"></span>

                <p ng-bind-html='comment.text | linky | hashTags'></p>
            </div>
        </div>

        <form role="form" ng-submit="comment();commentFormOpen = false" ng-show="model.user"
              class="comment-form" ng-class="commentFormOpen ? 'open' : ''">
            <textarea ng-click="commentFormOpen = true" ng-model="newComment" msd-elastic class="form-control"
                      placeholder="Write comment..."></textarea>

            <div ng-show="commentFormOpen">
                <button type="button" ng-click="commentFormOpen = false;
                    newComment = ''" class="btn btn-default">Cancel
                </button>
                <button type="submit" class="btn btn-primary">Comment</button>
            </div>
        </form>
    </section>

</article>
