<div class="container" style="padding: 0;">
    <div class="col-sm-4">
        <h6>Featured</h6>
        <hage-user-badge ng-repeat="user in featuredUsers" hage-user="user"></hage-user-badge>
        <h6>Trending</h6>
        <div class="trending-box">
            <a ng-repeat="hashtag in trendingHashtags track by $index" href="#/hashtags/{{hashtag}}"> #{{ hashtag}} </a> 
        </div>
    </div>
    <div class="col-sm-8" infinite-scroll="loadMorePosts()" >
        <div ng-hide="searchTerm" class="area-selector">
            <a class="area" ng-class="postType === 'world' ? 'active' : ''" ng-click="changePostType('world')">
                <span class="glyphicon glyphicon-globe"></span> 
                Global
            </a>
            <a class="area" ng-class="postType === 'city' ? 'active' : ''" ng-click="changePostType('city')">
                <span class="glyphicon glyphicon-home"></span> 
                Local
            </a>
            <a class="area" ng-class="postType === 'following' ? 'active' : ''" ng-click="changePostType('following')">
                <span class="glyphicon glyphicon-user"></span> 
                Following
            </a>
        </div>
        <h5 ng-show="searchTerm" class="search-term-display">{{ searchTerm }}</h5>
        <hage-post ng-repeat="post in model.posts| filter: search" hage-post="post"></hage-post>
        <div class="loader-cont" style="height: 100px;" ng-show="loadingPosts">
            <div ng-cloak class="loading">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
        <h4 style="text-align: center;" ng-show="loadingError">{{ loadingError }}</h4>
    </div>
</div>