<div class="container" style="padding: 0;">
    <div class="col-sm-4">
        <h6>Featured</h6>
        <opinion-user-badge ng-repeat="user in model.featuredUsers" opinion-user="user"></opinion-user-badge>
        <h6>Suggested</h6>

        <div class="trending-box">
            <a ng-repeat="hashtag in model.trendingHashtags track by $index" href="#/hashtags/{{hashtag}}"> 
                #{{ hashtag }} </a>
        </div>
    </div>
    <div class="col-sm-8" infinite-scroll="loadMorePosts()">
        <div ng-hide="searchTerm" class="area-selector">
            <a class="area" ng-class="postType === 'global' ? 'active' : ''" ng-click="changePostType('global')">
                <span class="glyphicon glyphicon-globe"></span>
                Global
            </a>
            <a class="area" ng-class="postType === 'local' ? 'active' : ''" ng-click="changePostType('local')">
                <span class="glyphicon glyphicon-home"></span>
                Local
            </a>
            <a ng-class="{'disabled': !isLoggedIn(), 'active': postType === 'following'}" class="area" ng-click="changePostType('following')">
                <span class="glyphicon glyphicon-user"></span>
                Following
            </a>
        </div>
        <h5 ng-show="searchTerm" class="search-term-display">
            {{ searchTerm }}
            <a href="#/" class="close close-bright pull-right" ng-click="$dismiss()">&times;</a>
        </h5>
        <opinion-post ng-repeat="post in model.posts| filter: search" opinion-post="post"></opinion-post>
        <div class="loader-cont" style="height: 100px;" ng-show="loadingPosts">
            <div ng-cloak class="loading">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
        <h4 style="text-align: center;" ng-show="loadingError">{{ loadingError }}</h4>
    </div>
</div>