<div class="container" style="padding: 0;">
    <div class="col-sm-4">
        <h6>Featured</h6>
        <div ng-repeat="user in featuredUsers" class="featured-box">
            <a href="#/{{ user.username}}">
                <img ng-src="{{ user.picture}}" class="profile-pic">
            </a>
            {{ user.username}}
        </div>
        <h6>Popular</h6>
        <div ng-repeat="user in featuredUsers" class="featured-box">
            <a href="#/{{ user.username}}">
                <img ng-src="{{ user.picture}}" class="profile-pic">
            </a>
            {{ user.username}}
        </div>
    </div>
    <div class="col-sm-8" infinite-scroll="loadMorePosts()" >
        <div class="area-selector">
            <a class="area" ng-class="postTypes === 'world' ? 'active' : ''" ng-click="postTypes = 'world'">
                <span class="glyphicon glyphicon-globe"></span> 
                World
            </a>
            <a class="area" ng-class="postTypes === 'country' ? 'active' : ''" ng-click="postTypes = 'country'">
                <span class="glyphicon glyphicon-flag"></span>
                Sweden
            </a>
            <a class="area" ng-class="postTypes === 'city' ? 'active' : ''" ng-click="postTypes = 'city'">
                <span class="glyphicon glyphicon-home"></span> 
                Gothenburg
            </a>
            <a class="area" ng-class="postTypes === 'following' ? 'active' : ''" ng-click="postTypes = 'following'">
                <span class="glyphicon glyphicon-user"></span> 
                Following
            </a>
        </div>
        <hage-post ng-repeat="post in model.posts| filter: search" hage-post="post"></hage-post>
        <div class="loader-cont" style="height: 100px;" ng-show="loadingPosts">
            <div ng-cloak class="loading">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </div>


</div>