<div class="container">

    <div class="user-box col-md-4">
        <img class="img-circle" ng-src="{{ user.picture}}" width="170">

        <h4 class="name">
            {{ user.firstName}} {{ user.lastName}}
            <span style="color: #999;">@{{ user.username}}</span>
        </h4>
        <div class="desc">{{ user.description}}</div>
        <a ng-show="viewingSelf()" ng-click="logout()" href="#/">Logout</a> -
        <a ng-show="viewingSelf()" ng-click="openEditModal()">Edit</a>
        
        <div>
            <button type="button" class="btn btn-default" > 
                <span class="glyphicon glyphicon-plus"></span>       
                 Follow
            </button>
        </div>
    </div>

    <div class="col-md-8">
        <hage-post ng-repeat="post in user.posts| filter: search" hage-post="post"></hage-post>
    </div>

</div>