<div class="container">

    <div class="col-md-4">
        <div class="user-box">
            <img class="img-circle" ng-src="{{ user.picture || '/assets/no-picture.png' }}" style="width:100px">

            <h4 class="name">
                {{ user.name }}
                <span style="color: #999;">@{{ user.username}}</span>
            </h4>

            <div class="follow-row">
                Opinions: {{ user.opinionsCount }} |
                Followers: {{ user.followersCount }} |
                Following: {{ user.followingCount }}
            </div>
            <div class="desc">{{ user.description}}</div>
            <a ng-show="viewingSelf()" ng-click="logout()" href="#/">Logout -</a>
            <a ng-show="viewingSelf()" ng-click="openEditModal()">Edit</a>

            <div ng-show="!viewingSelf() && isLoggedIn()">
                <button class="btn" ng-class="user.isFollowing ? 'btn-default' : 'btn-primary'"
                        ng-click="follow()">
                    Follow{{ user.isFollowing ? 'ing' : ''}}
                </button>
            </div>
        </div>

    </div>

    <div class="col-md-8">
        <opinion-post ng-repeat="post in user.posts| filter: search" opinion-post="post"></opinion-post>
    </div>

</div>