<div ng-controller="ProfileCtrl">
<div class="container-fluid">
    
    <img ng-src="{{users[0].profilePic}}" width="180">
    <h3>{{ users[0].firstname }}</h3>
    <h5>{{ users[0].userInfo }}</h5>

    
        <div ng-repeat="user in users">

            <div class="post" ng-repeat="post in user.posts">
                {{ post.content }}
                
                <div class="hate-btn" ng-controller="PostCtrl" ng-click="hate(post)">
                <span class=""></span>
                    {{ post.hates }}
                </div>  
                
            </div>
        </div>  
   

</div>