<div class="user-badge">
    <div class="clearfix">
        <a src="img" href="#/{{ user.username}}">
            <img ng-src="{{ user.picture || '/assets/no-picture.png' }}" class="profile-pic">
        </a>

        <div class="name">
            {{ user.username}} <br> {{ user.name}}
        </div>
        <div ng-if="model.user" class="btn" ng-class="user.isFollowing ? 'btn-default' : 'btn-primary'"
             ng-click="follow()">
            Follow{{ user.isFollowing ? 'ing' : ''}}
        </div>
    </div>
    <div class="desc">
        {{ user.description}}
    </div>
</div>