<!DOCTYPE html>
<html ng-app="hage" id="hage">

<head>
    <title>Hage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bower_components/flat-ui/dist/css/flat-ui.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body ng-controller="MainCtrl">

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div>
            <ul class="nav-left nav-section">
                <li>
                    <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                    <!--<input type="text" placeholder="Search">-->
                </li>
            </ul>

            <a href="#"><img class="logo" alt="App logo" src="assets/logo.png"></a>
                
            <ul class="nav-right nav-section">
                <li ng-click="openCreateModal()"><span><span class="glyphicon glyphicon-plus"></span></span></li>
                <li ng-click="goToProfile()"><span><span class="glyphicon glyphicon-user"></span></span></li>
            </ul>
        </div>
    </div>
</nav>

<div ng-view autoscroll="true"></div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-elastic/elastic.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/MainCtrl.js"></script>
<script src="js/controllers/ProfileCtrl.js"></script>
<script src="js/controllers/PostCtrl.js"></script>
<script src="js/services/ModelService.js"></script>
<script src="js/services/NetworkService.js"></script>
<script src="js/directives/PostDirective.js"></script>

</body>

</html>