.navbar {
    background: black;
    color: #fff;
    text-align: center;
    position: relative;
    border-radius: 0;
}

.nav-section {
    position: absolute;
    top: 0;
    list-style: none;
    padding: 0;
}

.nav-right {
    right: 10px;
}

.nav-left {
    left: 10px;
}

.navbar li {
    list-style: none;
    float: left;
    height: 50px;
}

.navbar li a {
    display: block;
    padding: 15px;
    line-height: 20px;
}

.navbar li:hover {
    background: #444;
}

.navbar a {
    color: #fff;
}

.logo {
    margin: 5px 0;
    height: 40px;
    display: inline-block;
}

.post {
    background: #f5f5f5;
    box-shadow: 0 0 5px #ddd;
    padding: 20px;
    margin-bottom: 20px;
}